In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
df = pd.read_csv('churn_modelling.csv')

In [2]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df.shape

(10000, 14)

In [4]:
pd.set_option('display.max_column',None)
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
df = df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [6]:
df['Geography'].value_counts

<bound method IndexOpsMixin.value_counts of 0        France
1         Spain
2        France
3        France
4         Spain
         ...
9995     France
9996     France
9997     France
9998    Germany
9999     France
Name: Geography, Length: 10000, dtype: object>

In [7]:
df = pd.get_dummies(df,drop_first=True)

In [8]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [9]:
df.isnull().sum()

CreditScore          0
Age                  0
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
Geography_Germany    0
Geography_Spain      0
Gender_Male          0
dtype: int64

In [10]:
X = df.drop(['Exited'],axis=1)

In [11]:
Y = df['Exited']

In [12]:
X = np.array(X)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size=0.2,random_state=42)

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(x_train)

StandardScaler()

In [16]:
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)

In [17]:
x_train.shape

(8000, 11)

In [18]:
x_test[0]

array([-0.57749609, -0.6557859 , -0.69539349,  0.32993735,  0.80843615,
       -1.54035103, -1.02583358, -1.01960511,  1.72572313, -0.57638802,
        0.91324755])

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
lr = LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [21]:
inputfeature = [-0.57749609, -0.6557859 , -0.69539349,  0.32993735,  0.80843615,        -1.54035103, -1.02583358, -1.01960511,  1.72572313, -0.57638802,  0.91324755]
y_predic = lr.predict([inputfeature])
y_predic

array([0], dtype=int64)

In [22]:
score = lr.score(x_test,y_prdic)

NameError: name 'y_prdic' is not defined

In [ ]:
score

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [ ]:
rms = sqrt(mean_squared_error(y_test, y_prdic))

In [ ]:
acuracy = 1.96*rms
acuracy